The following is an algorithm for calculating the distinct sum set. The functions 'add_points' and 'add_point_to_set' are auxiliary functions. The function 'distinct_sum_set(n,p,S)' has 3 arguments. The first argument n is the dimension of the lattice we work in (so 2 if we work in the plane). the second is the index p and the third is the set of points S. So the output will be the set of points that can be obtained by adding p different elements of S. If p is zero it outputs the singleton of the origin. The set S is represented by a set of n-tuples, each n-tuple representing a point in Z^n.

In [65]:
def add_points(x,y):
    return tuple(map(lambda a, b: a + b, x, y))
def add_point_to_set(x,y):
    return set(map(lambda a: add_points(x,a),y))
def distinct_sum_set(n,p,S):
    T = list(S)
    N = len(T)
    if (N == 0 and p==0):
        return {tuple([0]*n)}
    if (p<0 or p>N):
        return {}
    m = len(T[0])
    N = len(T)
    origin = tuple([0]*m)
    if(p==0):
        return {origin}
    L = [{origin}]*(N-p+1)
    for l in range(1,p+1):
        L[0] = add_point_to_set(T[l-1],L[0])
        for i in range(1,N-p+1):
            L[i] = L[i-1].union(add_point_to_set(T[l+i-1],L[i]))
    return L[N-p]

In [66]:
distinct_sum_set(3,0,{})

{(0, 0, 0)}

In [67]:
distinct_sum_set(2,3,{(0,0),(0,1),(1,0),(-1,-1)})

{(-1, 0), (0, -1), (0, 0), (1, 1)}

In [68]:
distinct_sum_set(2,2,{(0,0),(0,1),(1,0),(-1,-1)})

{(-1, -1), (-1, 0), (0, -1), (0, 1), (1, 0), (1, 1)}

In [55]:
distinct_sum_set(3,3,{(0,0,0),(0,0,1),(1,0,0),(1,0,1),(0,1,0),(2,-1,0)})

{(0, 1, 1),
 (1, 0, 1),
 (1, 0, 2),
 (1, 1, 0),
 (1, 1, 1),
 (1, 1, 2),
 (2, -1, 1),
 (2, 0, 0),
 (2, 0, 1),
 (2, 0, 2),
 (2, 1, 1),
 (3, -1, 0),
 (3, -1, 1),
 (3, -1, 2),
 (3, 0, 0),
 (3, 0, 1),
 (4, -1, 1)}

In [69]:
A = distinct_sum_set(2,3,{(0,0),(0,1),(1,0),(1,1),(1,2),(2,1),(0,2),(2,0),(2,2)})
B = distinct_sum_set(2, 7, A)
A

{(0, 3),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (6, 3)}